updater
Builder.Builder.exe
Builder.Builder.exe.mdb
Builder.Updater.exe
Builder.Updater.exe.mdb
Builder.dll
Builder.dll.mdb
*.suo
*.pdb
*.dll
*.user
*.pidb
*.userprefs
MonkeyWrench.xml
releases
bin
obj
Meebey.SmartIrc4net.xml
packages/
data/
tmp/