
html, body {
    height: 100%;
}

h1 {
	color: #efefef;
	font-size: 14pt;
	font-family: "Trebuchet MS";
	border: 0;
	margin: 0;
	padding: 1em;
}

.h1link 
{
	font-size:14pt;
	font-family: "Trebuchet MS";
	color: #efefef;
}

h2, h3, h4, h5, h6 {
	font-family: Verdana,sans-serif;
	font-weight: bold;
	margin: 9pt;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 13px;
	border-bottom: 2px solid #dddddd;
}

body, table {
	font-family: Verdana, sans-serif; font-size: 12px;
	color: black;
	margin: 0;
	padding: 0;
	border: 0;
}

p {
	margin-left: 2em;
	margin-right: 2em;
}

a, a.visited
{
    color: black;
    text-decoration: underline;
}

table.center
{
    margin-left: auto;
    margin-right: auto;
}

table.lanetree td 
{
	padding: .5em;
	text-align: center;
	border: solid 1px whitesmoke;
}

table.commands {
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.commands td 
{
	padding:.5em;
}

table.commands tbody td
{
	border: solid 1px black;
	text-align: center;
}

table.commands th
{
	border: solid 1px whitesmoke;
	font-weight:bold;
	text-align:center;
	padding: .5em;
}

table.commands .disabled
{
	background: #FFD0D0;
}

table.commands .enabled
{
	background: #C9FFC9;
}

table.commands td.hidden a
{
	color: #444444;
}

table.commands a .visible
{
	color: #0000FF;
}

tr.commands_header
{
    background-color: #DDDDDD;
}

table.files {
	border-collapse: collapse;
}

table.files td 
{
	padding:.5em;
}
table.files tbody td
{
	border: solid 1px whitesmoke;
	text-align: center;
}

table.files th
{
	border: solid 1px whitesmoke;
	font-weight:bold;
	text-align:center;
	padding: .5em;
}

/* buildstatus */
table.buildstatus {
	border-collapse: collapse;
}

table.buildstatus td {
	padding:.5em;
}

table.buildstatus tbody td {
	border: solid 1px #CCCCCC;
	text-align: center;
}

table.buildstatus th
{
	border: 1px solid #CCCCCC;
	font-weight: normal;
	text-align: center;
	padding: .5em;
}

table.buildstatus .disabled
{
	background: #FFD0D0;
}

table.buildstatus .enabled
{
	background: #C9FFC9;
}

table.buildstatus .disabled-hostlane
{
	color: #cdcdcd;
}

table.buildstatus .enabled-hostlane
{
}

table.lanes .lane-enabled a
{
}

table.lanes .lane-disabled a
{
	color: #cdcdcd;
}

table.hosts 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.hosts tr:first-child th
{
    font-weight: bold;
    font-size: 16px;
}

table.hosts input
{
    text-align: center;
}

table.lanes 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.lanes tr:first-child th
{
    font-weight: bold;
    font-size: 16px;
}

table.lanes input
{
    text-align: center;
}

table.users
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.users tr:first-child th
{
    font-weight: bold;
    font-size: 16px;
}

table.users input
{
    text-align: center;
}

table.identity
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.identity tr:first-child th
{
    font-weight: bold;
    font-size: 16px;
}

table.identity input
{
    text-align: center;
}

table.notifications
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.notifications tr:first-child th
{
    font-weight: bold;
    font-size: 16px;
}

table.notifications input
{
    text-align: center;
}

table.hoststatus 
{
    width: 100%;
    max-width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    margin-top: 10px;
}

table.hoststatus th
{
    background-color: #e0e0e0;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    text-align: center;
    font-weight: normal;
    padding: 3px;
}

table.hoststatus td
{
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    width: 100%;
    padding: 3px;
}

.hoststatus_header 
{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    width: 100%;
    padding: 3px;
}


table.buildbotstatus
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.buildbotstatus tr:first-child th
{
    font-weight: bold;
    font-size: 16px;
}

table.buildbotstatus input
{
    text-align: center;
}

table.releases
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table.releases tr:first-child th
{
    font-weight: bold;
    font-size: 16px;
}

table.releases input
{
    text-align: center;
}

table.lefttree a
{
    text-decoration: none;
}

.success {
	background:#00FF7F; /* springgreen */
}

.success1 {
	background:#00DD66;
}

.success2 {
	background:#00BB44;
}

.success3 {
	background:#009922;
}

.failure, .failed {
	background:#FF0000; /* red */
}

.failure1, .failed1 {
	background:#DD0000;
}

.failure2, .failed2 {
	background:#BB0000;
}

.failure3, .failed3 {
	background:#990000;
}

.running, .inprogress, .executing {
	background:#FFFF00; /*yellow*/
}

.running1, .inprogress1, .executing1 {
    background:#DDDD00;
}

.running2, .inprogress2, .executing3 {
    background:#BBBB00;
}

.running3, .inprogress3, .executing3 {
    background:#999900;
}

.notused {
	background:white;
}

.skipped {
	background:white;
}

.paused 
{
	background:lightblue;
}

.aborted 
{
	background:purple;
}

.ignore
{
    background:lightgray;
}

.timeout {
	background:#808080; /*gray*/
}

.timeout1 {
	background:#707070;
}

.timeout2 {
	background:#606060;
}

.timeout3 {
	background:#505050;
}

.new {
	background:#d3d3d3;
}

.queued, .notdone {
	background:#FAAFBE; /*pink*/
}

.queued1, .notdone1 {
	background:#EA9FAE;
}

.queued2, .notdone2 {
	background:#DA8F9E;
}

.queued3, .notdone3 {
	background:#CA7F8E;
}


.timeout {
	background:#4682B4; /*steelblue*/
}

.timeout1 {
	background:#3672A4; 
}

.timeout2 {
	background:#266294;
}

.timeout3 {
	background:#165284;
}

.testfailure, .issues {
	background: #FFA500; /* orange */
}

.testfailure1, .issues1 {
	background: #DD8300;
}

.testfailure2, .issues2 {
	background: #BB6100;
}

.testfailure3, .issues3 {
	background: #994000;
}

table.legend th {
	font-weight:normal;
	text-align:center;
	padding: .5em;
}

table.legend td {
	width: 10em;
	padding: 1em;
}

table.packagestatus th {
	text-align:left;
}


.faillinkcolor {
	color:red;
}


/*
 * Documentation
 */ 
 
pre
{
	border: 1px solid Black;
	padding: 3px;
	padding-top:5px;
	margin: 2px 2px 2px 2px;
}

li
{
	padding: 3px;
}
/* topbar */
#siteheader
{
    height: 40px;
	background-color: #666;
}

#siteheader a
{
	text-decoration: none;
	color: white;
}

#logo {
	float: left;
	margin: 2px 20px 0 1%;
}

#logo img {
	height: 35px;
}

#title {
	font-size: 1.7em;
	display: inline-block;
	padding-top: 7px;
	font-weight: 100;
	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#siteheader #nav {
	list-style: none;
	right: 0;
	display: table;
	margin: 0;
	position: absolute;
	display: inline-block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#siteheader a, #siteheader a img {
  outline: none;
  border: 0;
}

#nav > * {
	display: inline-block;
	padding-top: 10px;
}
#nav ul {
	background: #fff;
	background: transparent;
	list-style: none;
	position: absolute;
	left: -9999px;
	padding: 0;
	z-index: 2;
}

#nav li {
	margin-right: 10px;
	position: relative;
}
#nav a {
	display: block;
	padding: 5px;
	background: #666;
	text-decoration: none;
}
#nav a:hover {
	text-decoration: underline;
}
#nav ul li {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
#nav ul a {
	white-space: nowrap;
}
#nav li:hover ul { 
	left: 0;
}
#nav li:hover a {
	background: #666;
	text-decoration: underline;
}
#nav li:hover ul a { 
	text-decoration:none;
}
#nav li:hover ul li a:hover {
	text-decoration: underline;
}

/* headertable */
table.headertable 
{
	width: 100%;
    height: 100%;
	color: #efefef;
	font-size: 14pt;
	font-family: "Trebuchet MS";
	font-weight:bold;
	border: 0;
	padding: 0;
	background-color: inherit;
}

table.headertable a, table.headertable a:visited
{
    text-decoration: none;
    color: white;
}

table.headertable a:hover
{
    color: #BBBBBB;
}

table.headertable tbody, table.headertable tr
{
    background-color: inherit;
}

table.headertable td.title
{
	font-size: 16pt;
}

table.headertable td.titleimage
{
    width: 70px;
    padding: 0px;
}

table.headertable td.uploadstatus
{
	font-size: 12pt;
	color: yellow;
	text-align: center;
}

table.headertable td.rightcolumn
{
	font-size: 10pt;
	text-align: right;
	font-weight: normal;
}

table.headertable td
{
	background-color: inherit;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table.headertable img
{
    height: 64px;
    display: block;
    border-width: 0px;
}

body {
	display: flex;
	flex-flow: column;
}

#content-container {
	flex: 1 0px;
	display: flex;
	flex-flow: row;
	align-items: stretch;
}

#left-content
{
	padding: 5px;
	overflow: auto;
	flex-basis: 300px;
}

#right-content
{
	padding: 0px;
	overflow: auto;
	margin: 0px;
	flex: 1 0px;
}

iframe 
{
    width: 100%;
    height: 1000px;
    padding: 0px;
    margin: 0px;
}

.embeddedheader
{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.embeddedheader h2
{
    margin: 0px;
}

form 
{
    height: 95%;
    padding: 0px;
    margin: 0px;
}

/* treemenu */
.treemenu
{
	margin: 0;
	padding: 0;
	color: #000000;
}

.treemenu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.treemenu ul li
{
	white-space: nowrap;
	padding: 1px 0 0px 0;
}

.treemenu ul ul
{
	margin: 2px 0 2px 10px;
}

.treemenu ul li img
{
	border: none;
	vertical-align: middle;
	margin: -2px 5px 0 0;
}

.treemenu ul li a
{
	text-decoration: none;
	font-size: 12px;
}

.treemenu li.leaf
{
	margin-left: 15px;
}

/* Consider changing the cursor value (below) to something like */
/*     cursor: n-resize;                                        */
.treemenu .AspNet-TreeView-ClickableNonlink
{
	cursor: pointer;
}

/* Consider changing the cursor value (below) to something like */
/*     cursor: n-resize;                                        */
.treemenu .collapse
{
	background: url(Media/collapse.gif) 0 0 no-repeat;
	width: 15px;
	margin-right: 7px;
	float: left;
	cursor: pointer;
	font-family: Courier;
	font-size: 10px;
	line-height: 15px;
}

/* Consider changing the cursor value (below) to something like */
/*     cursor: n-resize;                                        */
.treemenu .expand
{
	background: url(Media/expand.gif) 0 0 no-repeat;
	width: 15px;
	margin-right: 7px;
	float: left;
	cursor: pointer;
	font-family: Courier;
	font-size: 10px;
	line-height: 15px;
}

.treemenu a, .treemenu a:visited, .treemenu a:active, .treemenu a:hover, .treemenu a:link
{
	color: #000000;
}

.treemenu .AspNet-TreeView-Selected a
{
	font-weight: bold !important;
	color: #8A2BE2 !important;
}

.treemenu .AspNet-TreeView-Selected ul a
{
	font-weight: normal !important;
	color: #00008B !important;
}

/* diff view */

.diff_view_line_number 
{
    background-color: #ececec;
    text-align: right;
    border-style: inset;
    border-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-right-color: #777777;
    padding-left: 5px;
    padding-right: 5px;
}

.diff_view_normal_line 
{
    background-color: white;
    width: 100%;
}

.diff_view_removed_line 
{
    background-color: #ffd0d0;
    width: 100%;
}

.diff_view_added_line 
{
    background-color: #d0ffd0;
    width: 100%;
}

td.diff_view_header_td
{
    background-color: #ececff;
    border-style: inset;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-right-color: #777777;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 5px; 
    padding-right: 5px;
}

td.diff_view_td
{
    border-width: 0px;
    padding-top: 0px; 
    padding-bottom: 0px;
    padding-left: 5px; 
    padding-right: 5px;
}

td.diff_view_at_td
{
    background-color: #f0f0f0;
    border-width: 0px;
    padding-top: 0px; 
    padding-bottom: 0px;
    padding-left: 5px; 
    padding-right: 5px;
}

td.diff_view_index_td
{
    background-color: #f0f0f0;
    border-width: 0px;
    padding-top: 0px; 
    padding-bottom: 0px;
    padding-left: 5px; 
    padding-right: 5px;
}

pre.diff_view_pre
{
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

table.diff_view_table
{
    border-spacing: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-width: 1px; 
    border-style: outset; 
    border-color: #808080;
    border-collapse: separate;
}
