<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true">
          <assemblies >
            <add assembly="Npgsql"/>
            <add assembly="Builder"/>
          </assemblies>
        </compilation>
        <httpRuntime executionTimeout="300"/>
      
    </system.web>
</configuration>
